# QUESTION 1

In [1]:
import pandas as pd
import numpy as np

L = [3, 5, 8, 12, 7, 10, 6, 9, 4, 15]
df = pd.DataFrame({'Integer_list': L})


# Forecasting using moving average method
window_size = 3  # Choose window size for moving average

# Calculate moving average
df['Moving Average'] = df['Integer_list'].rolling(window=window_size).mean()


# Display forecasted data
print(df['Moving Average'])

0         NaN
1         NaN
2    5.333333
3    8.333333
4    9.000000
5    9.666667
6    7.666667
7    8.333333
8    6.333333
9    9.333333
Name: Moving Average, dtype: float64

# QUESTION 2

In [2]:
M = [20, 18, 22, 19, 21, 23, 24, 26, 25, 28] 
df1 = pd.DataFrame({'Integer_list': M})


# Forecasting using moving average method
window_size = 4  # Choose window size for moving average

# Calculate moving average
df1['Moving Average'] = df1['Integer_list'].rolling(window=window_size).mean()


# Display forecasted data
print(df1['Moving Average'])

0      NaN
1      NaN
2      NaN
3    19.75
4    20.00
5    21.25
6    21.75
7    23.50
8    24.50
9    25.75
Name: Moving Average, dtype: float64

# QUESTION 3

In [3]:
N = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] 
df2 = pd.DataFrame({'Integer_list': N})


# Forecasting using moving average method
window_size = 5  # Choose window size for moving average

# Calculate moving average
df2['Moving Average'] = df2['Integer_list'].rolling(window=window_size).mean()


# Display forecasted data
print(df2['Moving Average'])

0     NaN
1     NaN
2     NaN
3     NaN
4     5.0
5     7.0
6     9.0
7    11.0
8    13.0
9    15.0
Name: Moving Average, dtype: float64

# QUESTION 4

In [4]:
df3 = pd.read_csv(r"C:\Users\tavishi186616\Downloads\attrition_data.csv")

In [5]:
df3.describe()

             Year  Attrition Rate
count    13.00000       13.000000
mean   2017.00000       18.538462
std       3.89444        6.159212
min    2011.00000       10.000000
25%    2014.00000       13.000000
50%    2017.00000       18.000000
75%    2020.00000       23.000000
max    2023.00000       28.000000

In [6]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\tavishi186616\anaconda3\lib\site-packages (0.13.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17 in c:\users\tavishi186616\anaconda3\lib\site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: scipy>=1.3 in c:\users\tavishi186616\anaconda3\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\tavishi186616\anaconda3\lib\site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\tavishi186616\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\tavishi186616\anaconda3\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\tavishi186616\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\tavishi186616\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tavishi186616\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\tavishi186616\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [7]:
from statsmodels.tsa.stattools import adfuller

#perform augmented Dickey-Fuller test
result = adfuller(df3['Attrition Rate'])

adf_statistic = result[0]
p_value = result[1]
print("ADF Statistic:", adf_statistic)
print("p-value:", p_value)

# Interpret the test result
if p_value < 0.05:
    print("Reject the null hypothesis: The time series is stationary.")
else:
    print("Fail to reject the null hypothesis: The time series is non-stationary.")

ADF Statistic: -0.64236405483751
p-value: 0.8611193437632667
Fail to reject the null hypothesis: The time series is non-stationary.